body{
    font-family: "Poppins", sans-serif;
    margin: 0px;
}

#icon{
    float: left;
}
#icon img{
    width: 30%;
    padding-left: 20px;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(#FE472D,#fb9a4c);
}


.nav li {
  float: right;
}

.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.nav li a:hover {
  background-color: rgb(253, 253, 253);
  height: 43px;
}

h1{
    font-size: 60px;
}
.pink{
    color: yellowgreen;
}
.flex-container{
     display: flex;
     justify-content: space-around;
     margin-bottom: 10px;
     padding-right: 50px;
}
.half-width{
    color: grey;
    width: 50%;
    margin-top: 200px;
    margin-left: 50px;
    padding-left: 50px;
}
.half-width1{
    color: grey;
    width: 50%;
    margin-top: 15px;
    margin-left: 50px;
    padding-left: 50px;
    height: 200vh;
}
.para{
    margin: -30px 0px -15px 0px;   
}
.para1{
    padding-bottom: 20px;
}
.half-width-photo{
    margin-top: 100px;
}
.half-width-photo1{
    margin-top: 100px;
     padding-top: 20px;
}
.half-width-photo1 img{
    width: 120%;
}
.half-width-photo img{
    width: 100%;
}

.link-button{
    text-decoration: none;
}
button{
    background-image: linear-gradient(#FE472D,#fb9a4c);
    color: white;
    font-size: 20px;
    font-weight: 50px;
    border-radius: 40px;
    border: 1px solid orange;
    padding: 20px 40px;
     box-shadow: 1px 5px 30px rgb(228, 116, 72);
}
button:hover{
    border-color: white;
    background-image: linear-gradient(yellow, yellowgreen);
}
#story{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    height: 109vh;
}

#Tutorial{
    display: flex;
    justify-content: center;
    height: 80vh;
    margin-top: 100px;
    color: grey;
}
.video-section:hover{
    box-shadow: 1px 5px 30px rgb(219, 89, 89);
    border-radius: 30px;
}

.video-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    width: 80%;
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    box-shadow: 1px 5px 30px rgb(169, 192, 196);
}
.video iframe{
    border-radius: 30px;
    border: none;
}


.half-width-recipe{
   text-align: center;
   margin-bottom: 100px;
   padding-left: 20%;
   padding-right: 20%;
}
.half-width-recipe h2{
    margin-top: 100px;
    font-size: 40px;
    color: grey;
}
.half-width-recipe p{
      padding-top: -200px;
}




.reviewbg{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
}

.half-width-reviews{
   text-align: center;
   margin-bottom: 100px;
   padding-left: 20%;
   padding-right: 20%;
}
.half-width-reviews h1{
    margin-top: 100px;
    font-size: 40px;
    color: grey;
}

.review-sec, .recipe-sec{
      display: flex;
      justify-content: center;
}
.review, .recipe{
  width: 90%;
  max-width: 270px;
  overflow: hidden;
  height: 530px;
  padding: 30px;
  box-shadow: 0 0 15px #ddd;
  margin: 30px;
  position: relative;
  border-radius: 20px;
}
.review:hover, .recipe:hover{
    box-shadow: 1px 5px 30px rgb(230, 135, 28);
}
.review img, .recipe img{
  width: 100%;
  max-width: 250px;
  height: 280px;
  display: block;
  object-fit: cover;
  border-radius: 20px;
}




.views{
    margin-bottom: 7.5%;
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 10%;
    padding-right: 1%;
    border-radius: 30px;
    box-shadow: 1px 1px 20px rgb(219, 217, 217);
     border: 20px solid white;
}
.views:hover{
   box-shadow: 1px 5px 30px rgb(89, 91, 219);
}

#footer {
    background-color: #0B0D17;
    height: 41vh;
    color: grey;
    text-align: center;
}

#header{
    color: yellowgreen;
}
#email{
    height: 80vh;
}
.email-in{
    display: flex;
    justify-content: center;
    align-items: center;
     background-image: url(images/shapes/Frame\ 58.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}
.email{
    text-align: center;
    /* padding-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px; */
}
.email h2{
    color:rgb(219, 55, 104);
}
.email span{
    color: rgb(219, 55, 104);
}
#copyright{
   padding-top: 50px;
}